<mat-card>
  <mat-card-content>
    <form [formGroup]="addForm" (submit)="addTimer()">
      <table class="add-table">
        <tr>
          <td class="add-input">
            <mat-form-field>
              <input matInput placeholder="What are you working on?" class="timer-input-working"
                     formControlName="work">
            </mat-form-field>
          </td>
          <td class="add-input">
            <mat-form-field class="select-form-field">
              <mat-label>Select an Project</mat-label>
              <mat-select formControlName="project" [(ngModel)]="selected">
                <mat-option>
                  <button mat-icon-button class="select-button" (click)="openDialog()" >
                    <mat-icon>add</mat-icon>
                    Create a Project
                  </button>
                </mat-option>
                <mat-option *ngFor="let project of projects; let index = index" [value]="project">
                  {{project}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td class="add-input">
            <mat-form-field>
              <input matInput [owlDateTime]="dt" [owlDateTimeTrigger]="dt" [selectMode]="'range'"
                     placeholder="Date Time" formControlName="datetime">
              <owl-date-time #dt></owl-date-time>
            </mat-form-field>
          </td>
          <td class="add-button">
            <button mat-raised-button color="primary">Add</button>
          </td>
        </tr>
      </table>
    </form>

  </mat-card-content>
</mat-card>

<mat-card [style.display]="dataTableVisible ? 'block' : 'none'">
  <mat-card-content>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 data-table" >
      <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index" matColumnDef="{{disCol}}">
        <th mat-header-cell *matHeaderCellDef>{{disCol}}</th>
        <td mat-cell *matCellDef="let element"> {{element[disCol]}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card-content>
</mat-card>

